---
import Layout from "../../layouts/Layout.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<Layout
  title={`另一半Ⅱ (The-Other-Half-2) | ${SITE_TITLE}`}
  description={`另一半Ⅱ (The-Other-Half-2) | ${SITE_DESCRIPTION}`}
>
  <div
    class="bg-gray-100 min-h-screen flex flex-col items-center justify-center pt-32 pb-32"
  >
    <div class="bg-white p-8 shadow-md w-full max-w-3xl card">
      <h1 class="text-2xl font-bold mb-4">另一半Ⅱ (The-Other-Half-2)</h1>
      <object data="/game/The-Other-Half-2.swf" width="100%" height="600"></object>
    </div>
    <div
      class="bg-gray-100 flex flex-col items-center justify-center w-full pt-4 pb-32"
    >
      <div class="bg-white p-8 shadow-md w-full max-w-3xl card">
        <h1 class="text-sm font-bold mb-4">描述:</h1>
        <p>
          又名 The other half
          2。本游戏首先有个相当玄幻的背景设定：主角在自己的房间中入眠，结果在睡梦中惊醒后发现在自己处于另外一个空间的另外一个房间中，而走出房间后甚至还发现了另一个“自己”……
          游戏的流程当然是主角一路克服种种困难设法回到自己的世界了，而另一个“自己”的存在则增加了游戏的难度，这个“自己”会对应主角的移动进行镜像式的相对移动，两者的移动更是同时进行的，但主角和“自己”所处的场景是不一样的，因此怎样让主角和“自己”各自到达相应的出口是本游戏中最难又最有趣之处。
          对了，游戏中还有另外一个难点：部分关卡的某些地形是隐藏的，必须在移动前按空格键看清楚再进行移动。
        </p>
      </div>
      <div
    class="bg-gray-100 flex flex-col items-center justify-center w-full pt-4 pb-32"
  >
    <div class="bg-white p-8 shadow-md w-full max-w-3xl card">
      <h1 class="text-sm font-bold mb-4">操作方式:</h1>
      <ul>
        <li>[ 方向键 ] 或 [ WASD ] 移动及跳跃</li>
        <li>[ 空格键 ] 显示隐藏的地形，此时不能移动</li>
      </ul>
    </div>
  </div>
    </div>
    
  </div>
</Layout>

<script></script>
